node-red-flow
[{"id":"402ab46f.a9b0fc","type":"tab","label":"Rotary-Encoder","disabled":false,"info":""},{"id":"cb717c15.8278d","type":"mqtt in","z":"402ab46f.a9b0fc","name":"","topic":"RPi/rotenc","qos":"2","datatype":"auto","broker":"784f4d53.206ce4","x":207,"y":60,"wires":[["8d39c4a.454a838"]]},{"id":"8d39c4a.454a838","type":"function","z":"402ab46f.a9b0fc","name":"parse MQTT JSON str","func":"var pTopic  = msg.topic.split(\"/\");\nvar jsonObj   =JSON.parse(msg.payload);\nvar fields = {};\nvar tags = {location:pTopic[0], device:pTopic[1]};\nfor(var item in jsonObj){\n    if (item.endsWith('f')) {\n        fields[item] = parseFloat(jsonObj[item]);\n    }\n    if (item.endsWith('i')) {\n        fields[item] = parseInt(jsonObj[item]);\n    }\n}\nmsg.payload = [\n    fields,\n    tags\n];    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":437,"y":60,"wires":[["f2fca16d.23b05","8a10a480.e49348","380b6499.aff29c"]]},{"id":"f2fca16d.23b05","type":"influxdb out","z":"402ab46f.a9b0fc","influxdb":"3e3327aa.370598","name":"","measurement":"generic","precision":"","retentionPolicy":"","database":"test","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":797,"y":60,"wires":[]},{"id":"38db310d.d5a26e","type":"ui_chart","z":"402ab46f.a9b0fc","name":"","group":"60fdd7c1.7e5128","order":0,"width":0,"height":0,"label":"Encoder Knob","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"auto","ymax":"auto","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":120,"wires":[[]]},{"id":"8a10a480.e49348","type":"change","z":"402ab46f.a9b0fc","name":"RotEnc1Ci","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].RotEnc1Ci","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":537,"y":120,"wires":[["38db310d.d5a26e"]]},{"id":"4b6905f3.fa296c","type":"ui_gauge","z":"402ab46f.a9b0fc","name":"","group":"60fdd7c1.7e5128","order":2,"width":0,"height":0,"gtype":"gage","title":"Button","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#000000","#e6e600","#43cb3a"],"seg1":"","seg2":"","x":670,"y":180,"wires":[]},{"id":"b0880ee4.33166","type":"comment","z":"402ab46f.a9b0fc","name":"Knob and Button","info":"","x":217,"y":20,"wires":[]},{"id":"380b6499.aff29c","type":"change","z":"402ab46f.a9b0fc","name":"RotEnc1Bi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].RotEnc1Bi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":180,"wires":[["4b6905f3.fa296c"]]},{"id":"1e8986bf.634c79","type":"mqtt in","z":"402ab46f.a9b0fc","name":"","topic":"esp32/rotenc","qos":"2","datatype":"auto","broker":"784f4d53.206ce4","x":210,"y":300,"wires":[["e86ee5f7.290ba8"]]},{"id":"e86ee5f7.290ba8","type":"function","z":"402ab46f.a9b0fc","name":"parse MQTT JSON str","func":"var pTopic  = msg.topic.split(\"/\");\nvar jsonObj   =JSON.parse(msg.payload);\nvar fields = {};\nvar tags = {location:pTopic[0], device:pTopic[1]};\nfor(var item in jsonObj){\n    if (item.endsWith('f')) {\n        fields[item] = parseFloat(jsonObj[item]);\n    }\n    if (item.endsWith('i')) {\n        fields[item] = parseInt(jsonObj[item]);\n    }\n}\nmsg.payload = [\n    fields,\n    tags\n];    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":300,"wires":[["8ce392f4.7c325","eeb43b2f.ece498","d5786cf2.73323"]]},{"id":"8ce392f4.7c325","type":"influxdb out","z":"402ab46f.a9b0fc","influxdb":"3e3327aa.370598","name":"","measurement":"generic","precision":"","retentionPolicy":"","database":"test","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":790,"y":300,"wires":[]},{"id":"f5ba5922.787e28","type":"ui_chart","z":"402ab46f.a9b0fc","name":"","group":"90651f5f.f35c5","order":0,"width":0,"height":0,"label":"Encoder Knob","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"auto","ymax":"auto","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":693,"y":360,"wires":[[]]},{"id":"eeb43b2f.ece498","type":"change","z":"402ab46f.a9b0fc","name":"RotEnc1Ci","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].RotEnc1Ci","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":360,"wires":[["f5ba5922.787e28"]]},{"id":"42e854b4.898dac","type":"ui_gauge","z":"402ab46f.a9b0fc","name":"","group":"90651f5f.f35c5","order":2,"width":0,"height":0,"gtype":"gage","title":"Button","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#000000","#e6e600","#43cb3a"],"seg1":"","seg2":"","x":663,"y":420,"wires":[]},{"id":"d5786cf2.73323","type":"change","z":"402ab46f.a9b0fc","name":"RotEnc1Bi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].RotEnc1Bi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":523,"y":420,"wires":[["42e854b4.898dac"]]},{"id":"784f4d53.206ce4","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3e3327aa.370598","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"rpimonitor","name":"","usetls":false,"tls":"5a1ed586.fc57cc","influxdbVersion":"1.8-flux","url":"http://localhost:8086/","rejectUnauthorized":true},{"id":"60fdd7c1.7e5128","type":"ui_group","name":"RPi","tab":"7c07831d.6f7a3c","order":1,"disp":true,"width":"6","collapse":false},{"id":"90651f5f.f35c5","type":"ui_group","name":"esp32","tab":"7c07831d.6f7a3c","order":2,"disp":true,"width":"6","collapse":false},{"id":"5a1ed586.fc57cc","type":"tls-config","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"7c07831d.6f7a3c","type":"ui_tab","name":"RotaryEncoder","icon":"dashboard","order":9,"disabled":false,"hidden":false}]